[Unit]
Description=Real-Time SIP Audio Denoising Pipeline
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/real-time-sip-audio-denoising-vad-pipeline

ExecStart=/usr/bin/python3 pipeline/sip_server.py

Restart=always
RestartSec=5

Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target